@media (max-width: 530px) {
  .container {
    margin: 50px;
    padding: 20px;
  }
  .container h1 {
    font-size: 20px;
    text-align: center;
  }
  .container .search-result .details-weather {
    font-size: 13px;
  }
}
